Repository PrestaShopCorp/ps_facebook, pull requests merged in 2022-10, with the labels that each got.

#412 Override badge class
  _dev/src/components/catalog/report-details/prevalidation-table.vue
  _dev/src/components/catalog/report-details/reporting-table.vue
Labels: VueJS

#413 Resolve problem on install with const visibility
  .github/workflows/php.yml
  .php-cs-fixer.dist.php
  composer.lock
  ps_facebook.php
Labels: bug, PHP

#415 Disable platform-check on composer config
  composer.json
Labels: bug

#416 Sanitize datasent to SQL requests
  .github/workflows/publish.yml
  classes/Provider/EventDataProvider.php
  classes/Repository/GoogleCategoryRepository.php
  classes/Repository/ProductRepository.php
  config.xml
  ps_facebook.php
Labels: PHP
