Repository PrestaShopCorp/ps_facebook, pull requests merged in 2023-03, with the labels that each got.

#441 Add shop domain for FBE onboarding
  _dev/src/lib/fb-login.ts
  _dev/src/views/configuration.vue
Labels: enhancement, VueJS

#442 Limit quantity of errors sent on front office
  classes/Handler/ErrorHandler/ErrorHandler.php
  config/common/handler.yml
Labels: enhancement, PHP

#443 Upgrade PHPStan to the latest version
  .github/workflows/php.yml
  classes/Database/Uninstaller.php
  classes/Provider/AccessTokenProvider.php
  classes/Repository/ProductRepository.php
  composer.json
  composer.lock
  config/admin/installer.yml
  config/common/repository.yml
  controllers/admin/AdminPsfacebookModuleController.php
  ps_facebook.php
Labels: enhancement, PHP

#445 Add shopId in bottom page & debug page
  _dev/src/app.vue
  _dev/src/views/debug.vue
Labels: VueJS
